APIFY_API_TOKEN=your_apify_token_here
APIFY_BASE_URL=https://api.apify.com/v2
ACTOR_PRODUCT_SCRAPER=junglee~amazon-crawler
ACTOR_SELLER_INFO=pintostudio~amazon-seller-info-scraper
ACTOR_FALLBACK=apify~web-scraper
PORT=3000
